{% extends 'time_entry/basic.html' %}
{% block head %}
    {% load static %}
    <script src="{% url 'js-catlog' %}"></script>
    <script src="{% static '/admin/js/core.js' %}"></script>

    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">

{% endblock %}
{% block  title %}Task {% endblock %}
{% block content %}
    <div class="col-sm-5 mt-4">
        <form method="post" novalidate>
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="row">
                    <div class="alert alert-danger">{{ error }}</div>
                </div>
            {% endfor %}
            {% for fm in form %}
                <div class="form-group">
                    {{ fm.label_tag }}{{ fm }}

                    <small class="text-warning"> {{ fm.errors|striptags }}</small>
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary mt-2" name="SignUP">
        </form>
    </div>
    {{ form.media }}

{% endblock %}